<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    //cada nombre 
    {{#each conos}}
   <p> {{Nombre}} </p>

    {{/each}}

    <h2>Filtrar por marca</h2>
    <a href="/?nombre= Vainilla">Vainilla</a>
    <a href="/">Todas</a>
</body>
</html>